.skills{

    padding:100px 10%;

    background:#111;

}

.skills__subtitle{

    max-width:700px;

    margin:15px auto 60px;

    text-align:center;

    color:#bcbcbc;

    line-height:1.8;

}

.skills__grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

}

.skill-card{

    background:#181818;

    border:1px solid rgba(255,30,30,.2);

    border-radius:15px;

    padding:25px;

    transition:.3s;

}

.skill-card:hover{

    transform:translateY(-6px);

    border-color:#ff1e1e;

}

.skill-card h3{

    color:#fff;

    margin-bottom:20px;

}

.skill-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

}

.skill-tags span{

    padding:8px 8px;
    border-radius:999px;
    border:1px solid rgba(255,30,30,.3);
    color:#ff4b4b;
    display: flex;
    align-items: center;
    font-size:.9rem;

}

.skill-tags i {
        font-size: 1.9rem;
}

@media(max-width:768px){

    .skills{

        padding:80px 20px;

    }

}